<header>
  <a href="/">
    {% if site.logoUrl %}<img src="{{ site.logoUrl }}" alt="{{ site.siteName }}">{% endif %}
    {{ site.siteName }}
  </a>
  {% if site.tagline %}<div>{{ site.tagline }}</div>{% endif %}
  <nav>
    {% if headerMenu and headerMenu.items.size > 0 %}
      {% for item in headerMenu.items %}<a href="{{ item.url }}">{{ item.label | escape }}</a>{% endfor %}
    {% else %}
      {% if site.siteType != "blog" %}
        <a href="/products">Sản phẩm</a>
      {% endif %}
      <a href="/blog">Blog</a>
      {% if site.siteType != "blog" %}
        <a href="#" id="cart-icon">Giỏ hàng</a>
      {% endif %}
    {% endif %}
  </nav>
</header>
